html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
p {
    margin: 0;
    padding: 0;
}

table {
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background: oklch(30% 0.19 270);
}
